@charset "utf-8";
@import url(reset_map.css);
@import url(header_map.css);
@import url(footer_map.css);

.contents{width:100%; min-width:1900px; margin-bottom:100px;} /*전체wrap*/
.main_Box{width:1200px; height:100%; margin: 0 auto; } /*그안을 감사는 wrpa*/
.sub_menu{float:left; width:220px; } /*왼쪽 서브메뉴*/
.sub_menu h3{font-size:32px; border-bottom:3px solid black; padding: 20px;}
.sub_menu ul{font-size: 18px; padding:20px;}
.sub_menu .on{background:url(../../images/map_gallery/icon_color_country_1.png) no-repeat 160px center;}
.sub_menu li{background:url(../../images/map_gallery/icon_white_country_1.png)no-repeat 160px center; line-height:70px; border-bottom:3px solid #d9d9d9; padding-left:20px;}

.main_contents{float:left; width:830px; margin-left:60px} /*메인 컨텐츠*/
.visual{position:relative;} /*메인 컨텐츠 안의 비주얼 부분*/
.visual > h3{font-size: 32px;border-bottom:3px solid black; padding: 20px; text-align:center; } /*메인 컨텐츠 안의 비주얼 부분*/
.search_box{text-align:right; position:relative; margin-top:30px; position:absolute; top:0px; right:0px;}
.search_box input[type="text"]{width:220px; height:30px;} 
.otutot{background:url(../../images/map_gallery/ico_arrow.png)no-repeat; background-position: 0px -138px; display: inline-block; width:34px; height:34px; background-color: black; font-size:0; text-indent: -9999px; position:absolute; top:0px; right:0;}
.visual_gallery{position:relative; margin-top:30px; }/*사진 레이아웃*/
.gallery_img{width:700px; margin:0 auto; position: relative;}
.prev_btn{position:absolute; top:370px; left:0px;}
.next_btn{position:absolute; top:370px; right:0px;}
.gallery_img{ }/*사진*/
.gallery_img>img{ }/*사진*/
.gallery_text_1{margin-top:30px;}/*텍스트부분*/
.summary_info_1{float:left;width:200px; height:200px;line-height:30px;}/*내용요약부분*/
.summary_info_1 h3{font-size:18px; }
.summary_info_1 ul li{background:url(../../images/map_gallery/icons/bg_list.png) no-repeat 0 12px; border-bottom: 1px solid #d9d9d9;}
.summary_info_1 ul li strong{margin-right:10px; padding-left: 15px;}
 

.detailed_info_1{margin-left:50px;float:left;width:450px;}/*내용 전체부분*/
.detailed_info_1 h3{background-color:#d9d9d9; height:30px; margin-bottom:20px;}
.detailed_info_1 h3 img{width:76px; height:43px;}
.detailed_info_1 span{line-height: 1.6em;}

.gallery_img_list_3{position: absolute; top:0px; left:0px; display: none;}
.gallery_img_list_2{position: absolute; top:0px; left:0px;
display: none;}


