@charset "uft-8";
@import url(reset.css);
@import url(header.css);
@import url(footer.css);

body{overflow-y:hidden;}
.container{width:100%; position: relative; min-width: 1903px;}
.main_1{width:100%; height:970px;}
.wekeep_video{width:100%; height:970px; position: relative; }
.wekeep_video .video_text{ position: absolute; top:0; left:0; bottom:100px; right:0;  font-weight:600; line-height:1.5;}
.wekeep_video .video_text p{font-size: 80px; color: #fff; margin-top:270px; margin-left:100px;}
.service_box{position: fixed; right:0; top:35%; z-index: 33;}
.service_box .sub_box1:last-child{margin-bottom: 0;}
.service_box .sub_box1{width:85px; height:85px; display: block;background-color:rgba(67, 67, 67,1); margin-bottom: 5px; margin-right:0;}
.service_box .sub_box1 .box_img_1{background: url(../images/main/main1/newsico.png) no-repeat 0 0; width:37px; height:27px; display: block; margin:0 0 10px 24px;}  
.service_box .sub_box1 a{width:85px;height:85px; display: block; color:#fff; text-align: center; padding-top: 20px; font-weight: 600;}
.service_box .sub_box1:hover{background-color:rgb(0, 173, 236);}
.service_box .sub_box1 .box_img_2{background: url(../images/main/main1/ico_wetalk.png) no-repeat 0 0; width:26px; height:32px; display: block; margin:0 0 10px 28px;}  
.service_box .sub_box1 .box_img_3{background: url(../images/main/main1/Qna.png) no-repeat 0 0; width:23px; height:28px; display: block; margin:0 0 10px 28px;}  

.width_1920{width:1920px;}
.main_2{width:100%; height:970px; position:relative; margin-top:60px; min-width: 1920px; }
.main_sub{float:left;width:355px; height:100%; border-right:1px solid #d9d9d9; position: fixed; left:0; top:0;  z-index: 9; display: none}
.main_sub ul{width:355px; height:570px;  margin-top: 150px;}
.main_sub ul li{width:100%; height:40px;line-height: 40px; margin-top: 10px}
.main_sub ul li a{display: inline-block;height:40px;line-height: 40px;}
.main_sub ul li  span.on{width:120px; height:2px; display: inline-block; margin-left:80px; line-height:3px; background-color: #333; animation:subbar 1s ease; opacity:1;}

@keyframes subbar{
    0%{
        width:0px
    }
    100%{
        width: 120px;
        opacity: 1;
    }
}

.main_sub ul li a{width:100px; display:inline-block;font-size: 18px;color: #8d8d8d; font-weight: 700; color: #333;float: right; margin-right: 30px}
.main_sub ul li a:hover{color:#333; font-weight:700;}

.main_contents{float:right; /*width:1545px;*/   margin-right: 100px}
.main_box{width:1400px; height:570px; margin:150px 0 0 50px;}

.top_contents{height:90px;/* padding: 30px;*/}
.top_contents_title{float:left;}
.top_contents p{font-size:40px;}
.top_contents p:nth-of-type(1){color:#00adec; font-weight:700;}
.top_contents .mome{float: right;width:205px; height:40px; text-align:left; line-height: 40px; border:1px solid #333; border-radius:50px; position: relative; margin-right: 40px;}
.top_contents .mome a{margin-left: 30px; display:block; font-size: 16px; font-weight: 700;}
.top_contents .mome .arrow:after{content: ''; position: absolute; top:23px; right: 20px; width:40px; height:3px; background-color: #333;}
.top_contents .mome .arrow:before{content: ''; position: absolute; top:17px; right: 20px; width:15px; height:3px; background-color: #333; transform: rotate(45deg)}



.bottom_contents{margin-top: 80px; width:100%; height:520px; }
.bottom_contents .box_f{width:325px; height:420px; float: left; margin-left:20px;}
.bottom_contents .box_1{margin-left: 0;}
.bottom_contents .box_1 span{background:url(../images/main/main2/wekeep_item1.png) no-repeat 0 30px; width: 100%; height:175px; display: block; font-size: 0; animation:gotop 2s infinite;}
.bottom_contents .box_2 span{background:url(../images/main/main2/wekeep_item2.png) no-repeat 0 30px; width: 100%; height:175px; display: block; font-size: 0;animation:gotop 2s ease infinite;}
.bottom_contents .box_3 span{background:url(../images/main/main2/wekeep_item3.png) no-repeat 0 30px; width: 100%; height:175px; display: block; font-size: 0; animation:gotop 2s ease infinite;}
.bottom_contents .box_4 span{background:url(../images/main/main2/wekeep_item4.png) no-repeat 0 30px; width: 100%; height:175px; display: block; font-size: 0; animation:gotop 2s ease infinite;}
.bottom_contents .box_1 h3,.bottom_contents .box_2 h3,.bottom_contents .box_3 h3,.bottom_contents .box_4 h3{text-align: left;margin:50px 0 20px 0;font-size: 32px;}
.bottom_contents .box_1 p,.bottom_contents .box_2 p,.bottom_contents .box_3 p,.bottom_contents .box_4 p{text-align: left; font-size: 16px; line-height:1.5}


@keyframes gotop{
    100%{
        /*background-position:0px -20px;*/
        background-position:0px 0px
    }
}





.main_4{width:100%; height:970px; position:relative; margin-top:60px; min-width: 1920px;
}
.main_4_right{/*width:1545px;*/ float:right; /*background: #d9d9d9;*/height:970px;  margin-right: 100px}
.main_4_visual{width:1400px; height:570px; margin: 150px 0 0 60px; }
.main_4_visual .left_contents{float: left;}
.main_4_visual .left_contents h3{font-size: 42px; margin-bottom: 30px;}
.main_4_visual .left_contents p{font-size: 16px; line-height: 1.5}
.main_4_visual .left_contents .more{width:205px; height:40px; text-align: left; border-radius: 50px;  border:1px solid #333; display: block; line-height: 40px;position: relative; margin-top: 350px;}
.left_contents .more a{display: block; margin-left: 30px; font-size: 16px; font-weight: 700}
.left_contents .more .arrow:after{content: ''; position: absolute; top:23px; right: 20px; width:40px; height:3px; background-color: #333;}
.left_contents .more .arrow:before{content: ''; position: absolute; top:17px; right: 20px; width:15px; height:3px; background-color: #333; transform: rotate(45deg)}
.main_4_visual .right_contents{float: left;width:1111px; height:568px;}


.main_5{width:100%; height:970px; position:relative; margin-top:60px; min-width: 1920px;}
.main_5_right{/*width:1545px; */float:right; height:970px; /*background-color: powderblue*/  margin-right: 100px}
.main_5 .main_5_visual{width:1400px; height:570px; margin: 150px 0 0 60px; }
.main_5_visual .left_contents{float: left;}
.main_5_visual .left_contents h3{font-size: 42px; margin-bottom: 30px;}
.main_5_visual .left_contents p{font-size: 16px; line-height: 1.5;font-weight: 600}

.main_5_visual .right_contents{float: right; ; }
.main_5_visual .right_contents .people{width:1020px; height:620px;}
.main_5_visual .right_contents .img{width:200px; height:200px; display: inline-block; border-radius: 50%;  margin: 10px 10px; position: relative; }
.main_5_visual .right_contents .img_1{background: url(../images/main/main4/thumb_20181115140534-XHT8I.jpg) no-repeat -20px 0;}
.main_5_visual .right_contents .img_2{background: url(../images/main/main4/thumb_20181203121555-PJE0K.jpg) no-repeat -20px 0;}
.main_5_visual .right_contents .img_3{background: url(../images/main/main4/thumb_20181203122039-C43UM.jpg) no-repeat -20px 0;}
.main_5_visual .right_contents .img_4{background: url(../images/main/main4/thumb_20181203122126-1AFQK.jpg) no-repeat -20px 0;}
.main_5_visual .right_contents .img_5{background: url(../images/main/main4/thumb_20181203122650-2XZK6.jpg) no-repeat -20px 0;}
.main_5_visual .right_contents .img_6{background: url(../images/main/main4/thumb_20181115140534-XHT8I.jpg) no-repeat -20px 0;}
.main_5_visual .right_contents .img_7{background: url(../images/main/main4/thumb_20181203121555-PJE0K.jpg) no-repeat -20px 0;}
.main_5_visual .right_contents .img_8{background: url(../images/main/main4/thumb_20200309085116-F8J9U.jpg) no-repeat -20px 0;}
.main_5_visual .right_contents .img_9{background: url(../images/main/main4/thumb_20181203122039-C43UM.jpg) no-repeat -20px 0;}
.main_5_visual .right_contents .img_10{background: url(../images/main/main4/thumb_20181203122942-HD2UI.jpg) no-repeat -20px 0;}
.main_5_visual .right_contents .img_11{background: url(../images/main/main4/thumb_20181203123132-1JO3S.jpg) no-repeat -20px 0;}
.main_5 .main_5_visual .right_contents .img_12 {background: url(../images/main/main4/wekeepmanMore.png) no-repeat 0 0; width:204px; height:204px; display: inline-block;} 
.people .people_title{width:204px; height:204px; background-color:black; border-radius: 50%; text-align:left; opacity:0.7;display: none;}
.right_contents .people a:hover .people_title{display: block}
.people_txt{font-size: 15px; width:165px; height:130px; display: block; position: absolute;top:50px; left:30px; color: #fff; /*border: 1px solid red*/;}
.people_title .name{font-weight: 700}



.main_6{width:100%; height:970px; position:relative; margin-top:60px; min-width: 1920px;}
.main_6_visual{/*width:1545px;*/ float:right; height:970px; margin-right: 100px}
.main_6_right{width:1400px; height:780px; margin: 150px 0 0 60px;}

.main_6_right .left_contents{float:left; width:355px; height:570px;}
.main_6_right .left_contents .tit_img{width:197px; height:153px; background: url(../images/main/main5/parterWekeep.png) no-repeat 0 0; margin-bottom: 30px;}
.main_6_right .left_contents p{width:197px; text-align: center; font-size: 16px; line-height: 1.5; font-weight: 600}
.main_6_visual .left_contents .more{width:205px; height:40px; text-align: left; border-radius: 50px;  display: block; line-height: 40px;position: relative; margin-top: 180px; background-color:#00adec;}
.main_6_visual .left_contents .more a{display: block; margin-left: 30px; color: #fff; font-weight: 700}
.main_6_visual .left_contents .more .arrow:after{content: ''; position: absolute; top:23px; right: 20px; width:40px; height:3px; background-color: #fff;}
.main_6_visual .left_contents .more .arrow:before{content: ''; position: absolute; top:17px; right: 20px; width:15px; height:3px; background-color: #fff; transform: rotate(45deg)}

.main_6_right .right_contents{float:left; }
.main_6_right .video_list{width:925px;overflow: hidden; margin-top: 145px;}
.main_6_right .video_list ul{width:1900px; position: relative;}
.main_6_right .video_list ul li{float:left; margin-left: 15px;}
.main_6_right .video_list ul li:first-child{margin-left: 0;}
.main_6_right .video_list ul li a{}
.main_6_right .video_list img{width: 455px; height:245px;}
.main_6_right .list_page{display: inline-block; margin-left: 170px; margin-top: 10px; width:300px;}

.list_Btn{display: inline-block;position:absolute; right:200px; margin-top: 20px;}
.list_Btn a{display: inline-block;margin-right:10px;}
.list_Btn span{font-size: 0px;}


/*hover*/
.main_box .top_contents .mome:hover,
.main_4_visual .left_contents .more:hover,
.main_6_visual .left_contents .more:hover
{background-color: #00adec; border: 1px solid #fff; color: #fff;}

.main_box .top_contents .mome:hover .arrow:after,
.main_4_visual .left_contents .more:hover .arrow:after,
.main_6_visual .left_contents .more:hover .arrow:after
{content: ''; position: absolute; top:23px; right: 20px; width:40px; height:3px; background-color:#fff;}

.main_box .top_contents .mome:hover .arrow:before,
.main_4_visual .left_contents .more:hover .arrow:before,
.main_6_visual .left_contents .more:hover .arrow:before
{content: ''; position: absolute; top:17px; right: 20px; width:15px; height:3px; background-color: #fff; transform: rotate(45deg)}

.main_box .top_contents .mome a:hover,
.main_4_visual .left_contents .more a:hover,
.main_6_visual .left_contents .more a:hover
{color:#fff; font-weight: 700;}


/*.main_6_visual .left_contents .more:hover .arrow:after{content: ''; position: absolute; top:23px; right: 20px; width:40px; height:3px; background-color:#333;}*/
/*.main_6_visual .left_contents .more:hover .arrow:before{content: ''; position: absolute; top:17px; right: 20px; width:15px; height:3px; background-color: #333; transform: rotate(45deg); }*/
/*.main_6_visual .left_contents .more a:hover{color:#333; font-weight: 700;}*/










