@charset "utf-8";
/*font*/
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap&subset=korean');
/*reset*/
body, div, h3, h2, h1, ul, li, table, cogroup, tr, th, td, input, select, a, p, span, img, input, form, address, dl ,dt, dd{margin:0; padding:0;}

body, input{font-size:12px; font-family:"나눔고딕", "Nanum Gothic", "돋움", "dotum" sans-serif;}
img{border-style:none;}
ul{list-style: none;}
address{font-style:normal;}
img,input,select,button{vertical-align: middle;}
caption{width:1px; height:1px; overflow:hidden; font-size:0; line-height:0; text-indent:-9999em}
#skipmenu{position:absolute; width:100%;}
#skipmenu a{position:absolute; top:-100px;}
#skipmenu a:hover,
#skipmenu a:focus,
#skipmenu a:active{top:0px; width:100%; background-color: #222; color:#fff; display:block; text-align: center; padding:10px 0;}
.clearfix:after{content:""; clear:both; display:block;}

a:visited, a:link{color:#333; text-decoration:none;}
a:active, a:focus, a:hover{color:#333; text-decoration:underline;}