@charset "utf-8";
.wrap{ min-width:1900px; width:100%;} 
.wrapper{width:100%; margin:0 auto; position:relative;}
.header{width:100%; position:relative;  /*z-indx로 배경화면 위로 보내기 가능!*/}
.logo{width:1300px;padding:20px 0; text-align: center; display:inline-block; line-height:160px;}
.date{ width:250px; font-size:11px; float:left; margin:15px 0 0 15px; height:145px; line-height:15px;}
table td{text-align:center;}
.date_head{position:relative; }
.date_head_sub{ border-bottom:3px solid #d9d9d9; text-align:center; }
.date_head_sub h3{margin:5px 0px}
.date_prev_btn{position:absolute; left:10px;}
.date_next_btn{position:absolute;  top:0px;right:10px;}
.date_day{margin-top: 5px;}
.date_day ul{padding-right:10px;}
.date_day li{float:right; padding-left:15px;}
.date_day .date_1{background:url(../../images/icons/1.png) no-repeat 1px 3px; }
.date_day .date_2{background:url(../../images/icons/2.png) no-repeat 3px 3px; }
.date_day .date_3{background:url(../../images/icons/3.png) no-repeat 3px 3px; }
.date_day .date_4{background:url(../../images/icons/4.png) no-repeat 3px 3px; }
.header_right_top{float:right; margin-top:35px; width:250px; }
.lang_museum{margin-bottom:10px; display:inline-block; margin-left:20px;}
.other_museum{display:inline;}
.search_frm{margin:10px 0; margin-left:20px;}
.search_frm [type="text"]{width:135px;}
.search_frm [type="button"]{width:45px;}
.login_link{margin-left:0px;}
.login_link a{font-size:16px; padding:0 20px; }
.login_link span:first-child{margin-left:0px;}
.holiday{background: url(../images/icons/1.png) no-repeat 3px 3px;}

.gnb{width:100%; border-bottom: 1px solid #d9d9d9; }
.gnb_sub{width:1200px; height:40px;margin:0 auto;}

.gnb ul li{width:160px; float:left; height:55px; line-height: 45px; text-align:center;  font-size:24px; font-weight: 700; background:url(../../images/map_gallery/icons/bg_bar01.png) no-repeat 0px 16px;}
.gnb ul li:first-child{background-image:none;}
.gnb .sub_munu{background-color:#fff; height:450px; width:160px; text-align:center; line-height:2.4em; display: block; border-top:1px solid #d9d9d9; border-right:1px solid #d9d9d9; border-left:1px solid #d9d9d9; display:none;}
.gnb .sub_munu li{width:160px; height:44px; font-size:14px; }


