/*변수설정*/
$color1:green;
$color2:#333;
.btn1{display: block; width: 200px; height: 50px; line-height: 50px; text-align: center; color:$color2; background-color: $color1; position: relative;}
.btn1:hover:before{background-color:#fff;}
.btn1:before{content: ''; position: absolute; top:0; right:-150px; background-color: red; width: 100px; height: 50px;
}

/*선택자*/
.a{ color: red;
    ul{border: 1px solid red;
        > li{ background-color: pink;
             a{text-decoration: none;
                 &:hover{color: blue}
                 &.bb{font-size: 11px;}
            }
            .bb{background-color: blue}/*a.bb안쓰고 바로 .bb써도 됌*/
            &:last-child{border: 1px dotted red}
        }
    }
}

/*@mixin, @include*/
@mixin test{width:50px; height: 50px}
@mixin clearfix{content: ''; display: block; clear: both;}
@mixin size($W, $H){
    width:$W; height:$H;  border: 1px solid blue;
}
.mixin_div{@include test(); border: 1px solid red;}
.mixin_p1{@include size(100px, 100px)}
.mixin_p2{@include size(50px, 50px); border: 1px solid #333;}



