@charset "utf-8";
@import url(reset.css);
@import url(others.css);

.contents_1{background:url(../images/background.jpg); background-size: cover;}
.contents_1 .informations{position: absolute; top:15%; left:10%;}
.contents_1 .informations li{}
.contents_1 .informations li a{}
.contents_1 .informations li a h3{font-size: 3rem;}
.contents_1 .portpolios{}
.contents_1 .portpolios li{}
.contents_1 .portpolios li a{}
.portpolios .contents li{}
.portpolios .contents li a{}











